@charset "utf-8";
nav {
    background:linear-gradient(to right, rgba(0, 0, 0, 0.55), rgba(0, 23, 255, 0.4), rgba(0, 0, 0, 0.55), rgba(0, 23, 255, 0.4), rgba(0, 0, 0, 0.55)); 
    width: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}
li {
    float: left;
    height: 100%;
}
li a, .dropdownSourceButton {
    display: inline-block;
    color: #efefef;
    text-align: center;
    padding: 9px 16px;
    text-decoration: none;
	font-family: 'Caveat', cursive;
    font-size: 1.5vw;
    height: 100%;
}
li:hover {
	background-color: #010d38;
    
}
.dropdownContent {
    display: none;
    position: absolute;
    background-color: rgba(0, 23, 255, 0.4);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 50;
}
.dropdownContent a {
    color: #efefef;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdownContent a:hover {background-color: rgba(84, 25, 20, 0.5)}

.dropdownSource:hover .dropdownContent {
    display: block;
}
.contacts {
	float: right;
	background-color: rgba(84, 25, 20, 0.5);
    color: #efefef;
    text-align: center;
    text-decoration: none;
	font-family:"Comic Sans MS", cursive, sans-serif;
	padding-left: 1vw;
	padding-right: 1vw;
}
.contacts:hover {
	background-color: #e28e26;
}
.menu {
    display: none;
}
@media only screen and (max-width:600px) { 
    nav {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 120;
        background: none;
        max-width: 100%;
    }
    li {
        display: inline;
        float: none;
        width: 40%;
        text-align: center;
        background-color: black;
        display: none;
        border-bottom: 1px solid #eeeeee; 
    }
    li:hover {
        background-color: black; 
    }
    .contacts {
        float: none;
        background-color: black;
        padding-left: 0;
        padding-right: 0;
    }
    .menu {
        max-width: 20%;
        padding: 0;
        display: block;
        border-bottom: none; 
    }
    .menu img {
        max-height: 9.5vw;
    }
    .dropdownContent {
        background-color: #eeeeee;
        min-width: 40%;
    }
    .dropdownContent a {
        color: black;
        text-align: center;
        border-bottom: 1px solid black;
    }
    li a, .dropdownSourceButton {
        font-family: 'Caveat', cursive;
        font-size: 5vw;
    }
}
